{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScoutingBox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar navbar-light navbar-expand-lg" style="background-color: #3f51b5;">
        <nav class="navbar ">
            <a class="navbar-brand" href="/ScoutingBox/">
                <img src="{% static 'logoo.png' %}" height="100px" alt="">
            </a></nav></nav></div>
{% block container %}
{% endblock %}
</body>
</html>