{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'BOX.png' %}" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
    {% block datetime-head %}{% endblock %}

    <meta charset="UTF-8">
    <title>ScoutingBox</title>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #3f51b5;">
    <a class="navbar-brand" href="/ScoutingBox/">
        <img src="{% static 'logoo.png' %}" height="100px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/players/" style="color: #ffeb3b;">Piłkarze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar/" style="color: #ffeb3b;">Terminarz obserwacji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar_add/" style="color: #ffeb3b;">Dodaj obserwację do terminarza</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/form/" style="color: #ffeb3b;">Formularz dla obserwacji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #ffeb3b;">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>

{#    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #3f51b5;">#}
{#        <nav class="navbar sticy-top">#}
{#            <a class="navbar-brand" href="/ScoutingBox/">#}
{#                <img src="{% static 'logoo.png' %}" height="100px" alt="">#}
{#            </a>#}
{#        </nav>#}
{#        <nav class="navbar-text">#}
{#            {% if user.is_authenticated %}#}
{#                <a class="nav-link" style="color: #ffeb3b; font-size: larger;" href="#">{{ user }}</a>#}
{#            {% endif %}#}
{#            <a class="nav-link" style="color: #ffeb3b; font-size: larger" href="/accounts/login/">Wyloguj</a>#}
{#        </nav>#}
{#    </nav>#}


{#    <nav class="navbar navbar-light bg-light">#}
{#        <ul class="nav nav-tabs ">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/ScoutingBox/" style="color: #3f51b5;">Home</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/players/" style="color: #3f51b5;">Piłkarze</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/calendar/" style="color: #3f51b5;">Terminarz obserwacji</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/calendar_add/" style="color: #3f51b5;">Dodaj obserwację do terminarza</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/form/" style="color: #3f51b5;">Formularz dla obserwacji</a>#}
{#            </li>#}
{#        </ul></nav>#}
{##}


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block container %}
{% endblock %}

<div class="container">
    <nav class="navbar fixed-bottom" style="background: #3f51b5;">
        <h4 style="color: #ffeb3b;">Need help?</h4>
    </nav></div>
<div class="container-fluid mb-5"></div>

{% block footer %}
{% endblock %}


{% block js %}{% endblock %}
{% block datetime-body %}{% endblock %}

</body>

</html>