{% extends 'base.html' %}
{% block container %}
    {% load static %}
<div class="container-fluid mb-5">
<div class="card container-fluid mx-auto" style="width: 30rem;">
  <img src="{% static 'stadion.jpg' %}" class="card-img-top mt-1" alt="...">
  <div class="card-body">
    <h5 class="card-title">Scouting</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/add_player/">Dodaj zawodnika</a></li>
      <li class="list-group-item">Najnowszy zawodnik: </li>
    <li class="list-group-item">Zawodnicy TOP: </li>
  </ul>
</div>
</div>

{% endblock %}