{% extends 'base.html' %}
{% block container %}
    <div class="mx-auto my-5">
    <div class="row">
    <div class="col">
      <a href="/add_player/"><h2>Dodaj piłkarza</h2></a>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>

    </div>
    <div class="mx-auto my-5">
        <table class="table table-striped mt-4">
          <thead style="background-color: #3f51b5; color: #ffeb3b;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Imię i nazwisko</th>
              <th scope="col">Rocznik</th>
              <th scope="col">Klub</th>
              <th scope="col">Pozycja</th>
              <th scope="col">Status</th>
              <th scope="col">Agent</th>
              <th scope="col">Uwagi</th>
              <th scope="col">Uwagi</th>
              <th scope="col">Uwagi</th>
            </tr>
          </thead>
          <tbody>
          {% for player in players %}
            <tr>
              <th scope="row">{{ player.id }}</th>
                <td><a href="/player/{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</a></td>
              <td>{{ player.year_of_birth }}</td>
              <td>{{ player.club }}</td>
              <td>{{ player.get_position_display }}</td>
              <td>{{ player.get_status_display }}</td>
              <td>{{ player.agent }}</td>
              <td>{{ player.other1 }}</td>
              <td>{{ player.other2 }}</td>
              <td>{{ player.other3 }}</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}