{% extends 'base.html' %}
{% block container %}


    <div class="mx-auto my-3">
        <div class="row">
            <div class="col">
                <a href="/add_player/"><h4>Dodaj piłkarza</h4></a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>


    <div class="mx-auto my-3">
        <table  class="table table-hover" id="myTable" >
            <thead style="background-color: #3f51b5; color: #ffeb3b;">
            <tr>
                <th data-field="name" scope="col">Imię i nazwisko</th>
                <th data-field="year" scope="col">Rocznik</th>
                <th data-field="club" scope="col">Klub</th>
                <th data-field="position" scope="col">Pozycja</th>
                <th data-field="status" scope="col">Status</th>
                <th data-field="agent" scope="col">Agent</th>
                <th data-field="1" scope="col">Uwagi</th>
                <th data-field="2" scope="col">Uwagi</th>
                <th data-field="3" scope="col">Uwagi</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td><a href="/player/{{ player.id }}">{{ player.last_name }} {{ player.first_name }}</a></td>
                    <td>{{ player.year_of_birth }}</td>
                    <td>{{ player.club }}</td>
                    <td>{{ player.get_position_display }}</td>
                    <td>{{ player.get_status_display }}</td>
                    <td>{{ player.agent|default_if_none:'' }}</td>
                    <td>{{ player.other1|default_if_none:'' }}</td>
                    <td>{{ player.other2|default_if_none:'' }}</td>
                    <td>{{ player.other3|default_if_none:'' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mb-5"></div>
    </div>


{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}
{% block js %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
{% endblock %}