{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'BOX.png' %}" type="image" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
    {% block datetime-head %}{% endblock %}

    <meta charset="UTF-8">
    <title>ScoutingBox</title>
    <style>
        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>

<div id="topheader">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/ScoutingBox/">
            <img src="{% static 'logoo.png' %}" height="50px" alt="Scouting Box">
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="1">
                <li>
                    <a class="nav-link" href="/players/" style="text-transform: uppercase" >Piłkarze<span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                    <a class="nav-link" href="/calendar/" style="text-transform: uppercase">Terminarz</a>
                </li>
                <li>
                    <a class="nav-link" href="/form/" style="text-transform: uppercase">Formularz</a>
                </li>
            </ul>
        </div>
        <div id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right" id="2">
                <li>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}" style="text-transform: uppercase;">Wyloguj</a>
                    {% else %}
                        <a href="{% url 'login' %}"class="nav-link" style="text-transform: uppercase;">Zaloguj</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'change_password' %}" style="text-transform: uppercase;">Zmień hasło</a>
                    {% endif %}
                </li>
            </ul>
        </div>
{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>#}
{#<script>#}
{#    $('#1, #2').on('click', 'li', function(){#}
{#        $('#1 .li.active, #2 .li.active').removeClass('active');#}
{#        $(this).addClass('active');#}
{#});#}
{#</script>#}

    </nav>
</div>





<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


{% block container %}
{% endblock %}


{% block js %}{% endblock %}
{% block datetime-body %}{% endblock %}
{% block chart %}{% endblock %}

</body>

</html>