body, html {
  height: 100%;
  background-color: black;
  font-family: Ubuntu;
}

body {
  font-family: Ubuntu;
}

.bg {
  /* The image used */
  background-color: black;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
