{% extends 'base.html' %}
{% block container %}
    <div class="container">
        <h2 class="mt-4">Dodaj mecz</h2>
        <form action="#" method="post" class="mt-4">
            {% csrf_token %}

            <h4>{{ form.date.label_tag }}</h4><br>
            {{ form.date }}
            <h4>{{ form.match.label_tag }}</h4>
            {{ form.match }}
            <h4>{{ form.city.label_tag }}</h4>
            {{ form.city }}
            <h4>{{ form.country.label_tag }}</h4>
            {{ form.country }}

            <input type="submit" class='btn btn-dark mt-4' value="Dodaj obserwację">
        </form>
    </div>
    <div class="container mb-5"></div>

  <script>
    $(function () {
      $("#datetimepicker").datetimepicker();
    });
  </script>



{% endblock %}

{% block datetime-head %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block datetime-body %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>
    <script type="text"></script>

{% endblock %}



