{% extends 'base.html' %}
{% block container %}

    <div class="col-2"></div>
    <div class="container mx-auto mb-5 mt-5">
        <h4>Nadchodzące obserwacje: </h4>
        <table class="table table-hover table-bordered"  id="myTable1" data-toggle="table">
            <thead class="thead-dark">
            <tr>
                <th data-field="date" data-sortable="true" scope="col">Data i godzina</th>
                <th data-field="match" data-sortable="true" scope="col">Mecz</th>
                <th data-field="city" data-sortable="true" scope="col">Lokalizacja</th>
                <th data-field="scout" data-sortable="true" scope="col">Obserwujący</th>
            </tr>
            </thead>
            <tbody>
            {% for item in forward %}
                <tr>
                    <td>{{ item.date|date:'Y m d D H:i' }}</td>
                    <td>{{ item.match }}</td>
                    <td>{{ item.city }}, {{ item.country }}</td>
                    <td>{{ item.scout }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>


    <div class="col-2"></div>
    <div class="container-fluid mx-auto mb-5 mt-5">
        <h4>Poprzednie obserwacje: </h4>
        <table class="table table-hover table-bordered"  id="myTable" data-toggle="table">
            <thead style="background-color: whitesmoke; color: gray;">
            <tr>
                <th data-field="date" data-sortable="true" scope="col">Data i godzina</th>
                <th data-field="match" data-sortable="true" scope="col">Mecz</th>
                <th data-field="city" data-sortable="true" scope="col">Lokalizacja</th>
                <th data-field="scout" data-sortable="true" scope="col">Obserwujący</th>
            </tr>
            </thead>
            <tbody>
            {% for item in calendar %}
                <tr>
                    <td style="color: gray">{{ item.date|date:'Y m d D H:i' }}</td>
                    <td style="color: gray">{{ item.match }}</td>
                    <td style="color: gray">{{ item.city }}, {{ item.country }}</td>
                    <td style="color: gray">{{ item.scout }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
            $('#exampleModal').on('shown.bs.modal', function (e) {
                console.log('komentarz')
                $('#kom').html($(e.relatedTarget).data('kom'));

            })
        } );

    </script>
{% endblock %}