{% extends 'base.html' %}
{% block container %}
    <div class="container">
        <h2 class="mt-4">Dodaj mecz</h2>
        <form action="#" method="post" class="mt-4">
            {% csrf_token %}

            <h4>Data</h4><br>
            {{ form.date }}
            <h4>Mecz</h4>
            {{ form.match }}
            <h4>Miasto</h4>
            {{ form.city }}
            <h4>Kraj</h4>
            {{ form.country }}

            <input type="submit" class='btn btn-dark mt-4' value="Dodaj obserwację">
        </form>
    </div>
    <div class="container mb-5"></div>

{% endblock %}

{% block datetime-head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
{% endblock %}

{% block datetime-body %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datetimepicker').datetimepicker();
        });
    </script>
{% endblock %}



