{% extends 'base.html' %}
{% block container %}
<style type="text/css">
    body {
        font-family: Ubuntu;
        background-color: whitesmoke;
    }
    .form {
        border-width: 0 0 1px 0;
        border-color: lightgray;
        color: gray;
        padding: 5px;
        margin: 20px;
        width: 90%;
        outline: 0;
        background-color: white;
        font-size: large;
        font-weight: lighter;
    }
    .label {
        color: #292b2c;
        font-size: small;
        text-transform: uppercase;
    }
    textarea.form {
        border-width: 1px;
        height: 100px;
    }
    .card-body {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    #header {
        margin-bottom: 4%;
    }
    #card {
        width: 100%;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    img {
        margin-bottom: 20%;
    }
    #container {
        display: flex;
        height: 100%;
    }
    @media (max-device-width: 575.98px) {
        #card {
            width: 300%;
        }
    }
    .hr1 {
        background-color: #3f51b5;
        border-width: 2px;
        margin-bottom: 5%;
    }
    .hr2 {

    }
    .header2 {
        margin: 5%;
    }
</style>
    <div class="container" id="container">
        <div class="row align-self-center w-100">
            <div class="mx-auto">
                <div class="card col-12 h-100 justify-content-center shadow border border-white" id="card">
                    <div class="card-body text-center">
                        <h2 id="header">Formularz obserwacji</h2>
                        <h6 style="color: #cc3300">Wszystkie pola są wymagane!</h6>
                        <hr class="hr1">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-12">{{ form.player }}
                                    <div class="label">
                                        {{ form.player.label }}
                                    </div></div>
                                <div class="col-md-6 col-12">{{ form.observation }}
                                    <div class="label">
                                        {{ form.observation.label }}
                                    </div></div>
                            </div>
                            <hr class="hr2">
                            <h5 class="header2">Pytania opisowe</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="label">
                                        {{ form.first_desc.label }}
                                    </div>{{ form.first_desc }}</div>
                                <div class="col">
                                    <div class="label">
                                        {{ form.second_desc.label }}
                                    </div>{{ form.second_desc }}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="label">
                                        {{ form.third_desc.label }}
                                    </div>{{ form.third_desc }}</div>
                                <div class="col">
                                    <div class="label">
                                        {{ form.fourth_desc.label }}
                                    </div>{{ form.fourth_desc }}</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="label">
                                        {{ form.fifth_desc.label }}
                                    </div>{{ form.fifth_desc }}</div>
                                <div class="col">
                                    <div class="label">
                                        {{ form.sixth_desc.label }}
                                    </div>{{ form.sixth_desc }}</div>
                            </div>
                            <hr class="hr2">
                            <h5 class="header2">Oceny</h5>
                            <div class="row">
                                <div class="col"><div class="label">{{ form.one.label }}</div> {{ form.one }}</div>
                                <div class="col"><div class="label">{{ form.two.label }}</div> {{ form.two }}</div>
                                <div class="col"><div class="label">{{ form.three.label }}</div> {{ form.three }}</div>
                            </div>
                            <div class="row">
                                <div class="col"><div class="label">{{ form.four.label }}</div> {{ form.four }}</div>
                                <div class="col"><div class="label">{{ form.five.label }}</div> {{ form.five }}</div>
                                <div class="col"><div class="label">{{ form.six.label }}</div> {{ form.six }}</div>
                            </div>
                            <div class="row">
                                <div class="col"><div class="label">{{ form.seven.label }}</div> {{ form.seven }}</div>
                                <div class="col"><div class="label">{{ form.eight.label }}</div> {{ form.eight }}</div>
                                <div class="col"><div class="label">{{ form.nine.label }}</div> {{ form.nine }}</div>
                            </div>
                            <div class="row">
                                <div class="col"><div class="label">{{ form.ten.label }}</div> {{ form.ten }}</div>
                                <div class="col"><div class="label">{{ form.eleven.label }}</div> {{ form.eleven }}</div>
                            </div>
                            <hr class="hr2">
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-dark mt-3" role="button" aria-pressed="true">Dodaj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}