{% extends 'base.html' %}
{% block container %}
{#    <form action="#" method="post">#}
{#    {% csrf_token %}#}

    <div class="container">
        <h2 class="mt-4">Obserwuj zawodnika {{ player.first_name }} {{ player.last_name }}</h2>
        <h6 style="color: darkred">Wszystkie pola są wymagane!</h6>

    <form action="#" method="POST" class="mt-4">
        {% csrf_token %}

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="player">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#player1" aria-expanded="true" aria-controls="player1">
                            {{ form.player.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="player1" class="collapse show" aria-labelledby="player" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.player }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="observ">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#observ" aria-expanded="false" aria-controls="observ">
                            {{ form.observation.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="observ" class="collapse" aria-labelledby="observ" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.observation }}
                    </div>
                </div>
            </div>
        </div>


        {#Pytania#}
        <h5 class="mt-3">Pytania opisowe</h5>
        <hr>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="first_desc">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{ form.first_desc.label_tag }}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="first_desc" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.first_desc }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            {{ form.second_desc.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.second_desc }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {{ form.third_desc.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.third_desc }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            {{ form.fourth_desc.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.fourth_desc }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            {{ form.fifth_desc.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.fifth_desc }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            {{ form.sixth_desc.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.sixth_desc }}
                    </div>
                </div>
            </div>
        </div>

        {#        <h5 class="mt-3">Oceny</h5>#}
        {#        <hr>#}
        {##}
        {#        {{ form.one.label_tag }}#}
        {#        {{ form.one }}#}
        {##}
        {#        {{ form.two.label_tag }}#}
        {#        {{ form.two }}#}
        {##}
        {#        {{ form.three.label_tag }}#}
        {#        {{ form.three }}#}
        {##}
        {#        {{ form.four.label_tag }}#}
        {#        {{ form.four }}#}
        {##}
        {#        {{ form.five.label_tag }}#}
        {#        {{ form.five }}#}
        {##}
        {#        {{ form.six.label_tag }}#}
        {#        {{ form.six }}#}
        {##}
        {#        {{ form.seven.label_tag }}#}
        {#        {{ form.seven }}#}
        {##}
        {#        {{ form.eight.label_tag }}#}
        {#        {{ form.eight }}#}
        {##}
        {#        {{ form.nine.label_tag }}#}
        {#        {{ form.nine }}#}
        {##}
        {#        {{ form.ten.label_tag }}#}
        {#        {{ form.ten }}#}
        {##}
        {#        {{ form.eleven.label_tag }}#}
        {#        {{ form.eleven }}#}



        <h5 class="mt-3">Oceny</h5>
        <hr>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="one">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseone" aria-expanded="true" aria-controls="collapseone">
                            {{ form.one.label_tag }}
                        </button>
                    </h2>
                </div>

                <div id="collapseone" class="collapse show" aria-labelledby="one" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.one }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Two">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                            {{ form.two.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapsetwo" class="collapse" aria-labelledby="Two" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.two }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Three">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                            {{ form.three.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapsethree" class="collapse" aria-labelledby="Three" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.three }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Four">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                            {{ form.four.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="Four" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.four }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Five">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                            {{ form.five.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="Five" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.five }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Six">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                            {{ form.six.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="collapsesix" class="collapse" aria-labelledby="Six" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.six }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Seven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Seven" aria-expanded="false" aria-controls="Seven">
                            {{ form.seven.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="Seven" class="collapse" aria-labelledby="Seven" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.seven }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Eight">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Eight" aria-expanded="false" aria-controls="Eight">
                            {{ form.eight.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="Eight" class="collapse" aria-labelledby="Eight" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.eight }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Nine">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Nine" aria-expanded="false" aria-controls="Nine">
                            {{ form.nine.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="Nine" class="collapse" aria-labelledby="Nine" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.nine }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Ten">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Ten" aria-expanded="false" aria-controls="Ten">
                            {{ form.ten.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="Ten" class="collapse" aria-labelledby="Ten" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.ten }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="Eleven">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Eleven" aria-expanded="false" aria-controls="Eleven">
                            {{ form.eleven.label_tag }}
                        </button>
                    </h2>
                </div>
                <div id="Eleven" class="collapse" aria-labelledby="Eleven" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ form.eleven }}
                    </div>
                </div>
            </div>

        </div>

        <input type="submit" class="btn mb-5 my-3" style="background-color: #3f51b5; color: #ffeb3b;" value="Dodaj obserwacje">
    </form>
    </div>



{% endblock %}