{% extends 'base.html' %}
{% block container %}
    {% load static %}

    <div class="container my-5">
        <div class="jumbotron" style="background-color: whitesmoke">
            <h1 class="display-3 mb-5">Witaj, <b>{{ user }}</b>!</h1>
            <h6>Co chcesz zrobić? Poniżej masz możliwość dodania nowego piłkarza do bazy danych lub oberwacji jednego z wcześniej dodanych zawodników.</h6>
            <a class="btn btn-dark" href="add_player/" role="button">Nowy zawodnik</a>
            <a class="btn btn-dark" href="/form/" role="button">Nowa obserwacja zawodnika</a>
            <a class="btn btn-dark" href="/calendar_add/" role="button">Dodaj obserwację do terminarza</a>
            <hr class="my-4">
            <p>Jeśli nie jesteś pewien czy dany zawodnik już figuruje w bazie, przejdź do sekcji <a href="/players/">PIŁKARZE</a></p>
        </div>
    </div>



    <div class="container">
        <div class="my-5">
            <div class="card text-center card border-dark mb-3">
                <div class="card-header">
                    Najnowszy komentarz
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ comm.player}}</h5>
                    <p class="card-text">"{{ comm }}"</p>
                </div>
                <div class="card-footer text-muted">
                    {{ comm.date }}
                </div>
            </div>
        </div>
    </div>

{#    <div class="container mt-5">#}
{#        <div class="card text-center card border-dark mb-3">#}
{#            <div class="card-header">#}
{#                Terminarz - nadchodzące obserwacje#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <table class="table table-hover table-bordered table-dark">#}
{##}
{#                    <thead>#}
{#                    <th>Data</th>#}
{#                    <th>Mecz</th>#}
{#                    <th>Miejsce</th>#}
{#                    <th>Obserwujący</th>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for item in forward %}#}
{#                        <tr>#}
{#                            <td>{{ item.date|date:'Y m d D H:i' }}</td>#}
{#                            <td>{{ item.match }}</td>#}
{#                            <td>{{ item.city }}, {{ item.country }}</td>#}
{#                            <td>{{ item.scout }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}

        <div class="container">
        <div class="my-5">
            <div class="card text-center card border-dark mb-3">
                <div class="card-header">
                    Zawodnicy TOP
                </div>
                <div class="card-body">
                    {% for p in players %}
                    <h5 class="card-title"><a href='/player/{{ p.id }}'>{{ p }}</a></h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>








{% endblock %}