{% extends 'base.html' %}
{% block container %}
    {% load static %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm p-3 mb-3 border-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: whitesmoke">  </span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" style="font-size: small">
                <li class="nav-item">
                    <a class="nav-link" href="add_player/">Dodaj zawodnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/form/">Nowa obserwacja zawodnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar_add/">Dodaj mecz do terminarza</a>
                </li>
            </ul>
        </div>
            <h6 class="nav justify-content-end">Witaj, {{ user }}!</h6>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-4 col-6">
                <div class="card shadow-sm mb-1 border-light" style="overflow: auto; height: 250px">
                    <div class="card-body mb-1">
                        <h6 class="card-title" style="color: #4f4f4f">Zawodnicy TOP</h6>
                            <table class="table table text-center">
                                <tbody>
                                {% for p in players %}
                                    <tr>
                                        <th style="color: #00468B">{{ forloop.counter }}</th>
                                        <td style="font-size: small"><a class="text-decoration-none" href="/player/{{ p.id }}" style="color: #4f4f4f">{{ p }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="card shadow-sm mb-1 border-light" style="overflow: auto; height: 250px">
                    <div class="card-body">
                        <h6 class="card-title" style="color: #4f4f4f">Ostatnio dodany zawodnik</h6>

                        <div class="row align-middle">
                            <table class="mt-3 mx-auto table-borderless text-center">
                                <tbody>
                                <tr>
                                    <td class="p-3" style="font-size: 70px"><a href="/player/{{ last.id }}" class="text-decoration-none" style="color: #5b80b2">{{ last.first_name|first }}{{ last.last_name|first }}</a></td>
                                    <td class="p-3"><a href="/player/{{ last.id }}" class="text-decoration-none" style="color: #00468B">{{ last }}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-6">
                <div class="card shadow-sm mb-1 border-light" style="height: 250px; overflow: auto">
                    <div class="card-body">
                        <h6 class="card-title" style="color: #4f4f4f">Najnowsze komentarze</h6>

                        <div class="align-middle">
                            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for c in comm %}
                                        {% if forloop.first %}
                                            <div class="carousel-item active">
                                        {% else %}
                                            <div class="carousel-item">
                                        {% endif %}
                                    <h7 class="d-block w-100 mb-3 mt-3" style="color: #00468B">{{ c.player }}</h7>
                                    <small class="d-block w-100 mb-3">{{ c.comment|slice:"100" }}</small>
                                    <small class="text-muted">{{ c.date|timesince }}</small>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
        <div class="col-md-4 col-6 mt-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm mb-3 border-light">
                <div class="card-body">
                    <h6 class="card-title" style="color: #4f4f4f">Zawodnik z największą oceną</h6>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-12 mt-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm mb-3 border-light">
                <div class="card-body">
                    <h6 class="card-title" style="color: #4f4f4f">Nadchodzące mecze</h6>
                </div>
            </div>
        </div>
    </div>

            <div class="row">
        <div class="col-md-4 mt-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm   mb-3 border-light">
                <div class="card-body">
                    <h6 class="card-title" style="color: #4f4f4f">Ilość obserwacji dla scouta</h6>
                    <h4 class="mt-5">{{ observ }}<small class="text-muted"> total</small></h4>
                    {% for s in scout %}
                    {{ s.email|cut:"\@.*" }}
                    {% endfor %}
                </div>
            </div>
        </div>

{#                {% for i in p %}#}
{#                    {{ i }}#}
{#                {% endfor %}#}
{% for i in all %}
{{ i.pr }}
{% endfor %}


        <div class="col-md-8 mt-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm   mb-3 border-light">
                <div class="card-body">
                    <h6 class="card-title" style="color: #4f4f4f">Ilość obserwacji dla zawodnika</h6>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    </div>


{% block chart %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById('myChart');
var p = {{ i }}
for (x in p) { x }
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [x],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    },
});
</script>
    {% endblock %}

{% endblock %}