{% extends 'base.html' %}
{% block container %}
    {#<div class="container shadow-sm p-3 mb-5 bg-white rounded" style="background-color: #f6f6f6">#}
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar sticky-top">
        <h3 style="color: whitesmoke">{{ player.first_name }} {{ player.last_name }}</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: whitesmoke">  </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/form/{{ player.id }}">Obserwuj zawodnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/edit_player/{{ player.id }}/">Edytuj zawodnika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_comment/{{ player.id }}">Dodaj komentarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/delete_player/{{ player.id }}">Usuń zawodnika</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Porównaj z ...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for p in players %}
                        <a class="dropdown-item" href="/{{ player.id }}/comparison/{{ p.id }}">{{ p }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm p-3 mb-3 border-light">
                <div class="card-body">
                    <h5 class="card-title mb-4">Informacje o zawodniku:</h5>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">@ :</small></td>
                            <td style="text-align: center"><small><b>{{ player.mail|default_if_none:'nie podano' }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">tel :</small></td>
                            <td style="text-align: center"><small><b>{{ player.phone|default_if_none:'nie podano' }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">rocznik :</small></td>
                            <td style="text-align: center"><small><b>{{ player.year_of_birth  }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">klub :</small></td>
                            <td style="text-align: center"><small><b>{{ player.club  }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">pozycja :</small></td>
                            <td style="text-align: center"><small><b>{{ player.get_position_display }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">status :</small></td>
                            <td style="text-align: center"><small><b>{{ player.get_status_display }}</b></small></td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><small style="color: #5b80b2">agent :</small></td>
                            <td style="text-align: center"><small><b>{{ player.agent|default_if_none:'nie podano' }}</b></small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="col-md-8 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm p-3 mb-3 bg-white rounded border border-light">
                <div class="card-body">

                    <h5 class="card-title mb-5">Podsumowanie punktów:</h5>
                    <canvas id="myChart"></canvas>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm p-3 mb-5 bg-white rounded border-light">
                <div class="card-body">
                    <h5 class="card-title mb-4">Komentarze:</h5>
                    <table class="table table-bordered">
                        <tbody>
                        {% for c in com %}
                            <tr>
                                <td colspan="2"><small><b>{{ c }}</b></small></td>
                            </tr>
                            <tr>
                                <td><small class="text-muted">{{ c.date|timesince }}</small></td>
                                <td><a href="/delete_comment/{{ player.id }}/{{ c.id }}">Usuń</a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-md-8 d-flex align-items-stretch">
            <div class="card w-100 shadow-sm p-3 mb-5 bg-white rounded border border-light">
                <div class="card-body">
                    <h5 class="card-title mb-4">Oceny opisowe:</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Gra w ofensywie</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr><td>{{ val.first_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Gra w defensywie</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr><td>{{ val.second_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Gra bez piłki</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr><td>{{ val.third_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Cechy wolicjonalne</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr>
                                <td>{{ val.fourth_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Inne</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr>
                                <td>{{ val.fifth_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2"><small><b>Wnioski</b></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in observ %}
                            <tr>
                                <td>{{ val.sixth_desc }}</td>
                                <td><small class="text-muted" style="text-align: center">{{ val.scout }}</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>




{% endblock %}

{% block chart %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
    <script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["{{ q.1a }}", "{{ q.2a }}", "{{ q.3a }}", "{{ q.4a }}", "{{ q.5a }}",
            "{{ q.6a }}", "{{ q.7a }}", "{{ q.8a }}", "{{ q.9a }}", "{{ q.10a }}", "{{ q.11a }}"],
        datasets: [{
            label: 'Podsumowanie punktów',
            data: ["{{ stats.s1 }}", "{{ stats.s2 }}", "{{ stats.s3 }}", "{{ stats.s4 }}", "{{ stats.s5 }}",
            "{{ stats.s6 }}", "{{ stats.s7 }}", "{{ stats.s8 }}", "{{ stats.s9 }}", "{{ stats.s10 }}", "{{ stats.s11 }}"],
            backgroundColor: [
                'rgba(92, 184, 92, 0.2)'
            ],
            borderColor: [
                'rgba(92, 184, 92, 0.9)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scale: {
            ticks: {
                beginAtZero: true,

                suggestedMax: 100
            }
        }, legend: {
            display: false
        }
    }
});
</script>
{% endblock %}